body {
    padding-left: 11em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-image: url(Img/Outsite.png);
    background-repeat: repeat-x, repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul.navbar {
    list-style-type: armenian;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 2em;
    left: 0em;
    width: 9em
}

.my-button {
    background: linear-gradient(to bottom, #000000, #242424);
    color: white; /* White text */
    padding: 10px 20px; /* Padding inside the button */
    border: 0.2em solid rgb(255, 255, 255);
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Text size */
    text-align: center; /* Center text horizontally */
    text-decoration: none; /* Remove underline for anchor buttons */
    display: inline-block; /* Allow padding and margin */
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 3 колонки */
    gap: 10px; /* отступы между элементами */
}

.grid-item {
    background: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

  .my-button:hover {
    border:0.2em solid rgb(251, 255, 0); /* Slightly darker green on hover */
  }

  .my-button:active {
    border:0.2em solid rgb(192, 196, 0);
    transform: translateY(1px); /* Slight downward shift */
  }

ul.navbar li {
    background: linear-gradient(to bottom, #000000, #242424);
    margin: 0.5em 0;
    padding: 0.3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:  0.2em solid rgb(255, 255, 255);
}

/* div {
    position: relative;
    width: 100px;
    height: 100px;
    top: -440px;
    left: 65em;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-color: rgb(0, 0, 0);
} */
/* 
div::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 87px;
    background-image: url(Img/RPCUnity_Logo.png);
} */

ul.navbar a {
    text-decoration: none
}

li:hover {
    animation: Forward 0.1s normal forwards ease;
}

li:not(:hover) {
    animation: Backword 0.1s normal backwards ease;
}

a:link {
    color: rgb(255, 255, 255)
}

a:visited {
    color: rgb(255, 255, 255)
}

@keyframes Forward {
    from {
        transform: translateX(0px);
        border:  0.2em solid rgb(255, 255, 255);
    }

    to {
        transform: translateX(20px);
        border:  0.2em solid rgb(251, 255, 0);
    }
}


@keyframes Backword {
    from {
        transform: translateX(20px);
        border:  0.2em solid rgb(251, 255, 0);
    }

    to {
        transform: translateX(0px);
        border:  0.2em solid rgb(255, 255, 255);
    }
}

p {
    animation: Poyavlenie 2s normal forwards ease-in-out;
}

@keyframes Poyavlenie {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: Poyavlenie 1s normal forwards ease-in-out;
    opacity: 1;
}
